<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <h1>
                Dashboard
            </h1>
        </div>
        <nav>
            <div>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/" id="logout-link">Log out</a>
            </div>
        </nav>
    </header>

    <main>
        <div>
            {{{ body }}} 
        </div>
    </main>
    <script src="/js/logout.js"></script>
    
</body>
</html>