<form id="new-post-form">
    <div>
        <div>
            <h3>
                Create new post
            </h3>
        </div>
        <div>
            <label for="title-box">Title:</label>
            <br>
            <input id="title-box" name="post-title" type="text" placeholder="New title">
            <br>
            <label for="content-box">Content:</label>
            <br>
            <textarea id="content-box" name="post-body" placeholder="New post"></textarea>
        </div>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

<script src="/js/new.js"></script>