<form>
    <div>
        <div>
            <h3>
                Create new post
            </h3>
        </div>
        <div>
            <label>Title:</label>
            <br>
            <input name="post-title" type="text" placeholder="New title">
            <br>
            <label for="content-box">Content:</label>
            <br>
            <textarea name="post-body" placeholder="New post"></textarea>
        </div>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

<script src="../public/js/new.js"></script>