<div>
    <div>
        <div>
            <h3>
                Sign Up.
            </h3>
        </div>
        <form id="signup-form">
            <label for="username-input-signup">User Name</label>
            <input id="username-input-signup" type="text">
            <label for="password-input-signup">Password</label>
            <input id="password-input-signup" type="password">
            <input type="submit" value="Submit">
        </form>
        <a href="/login">
            <div>
                <h4>Already have an account?</h4>
                <h4>Click here to login.</h4>
            </div>
        </a>
    </div>
</div>

<script src="/js/signup.js"></script>